* {
    font-family: 'Open Sans';
    font-weight: 300;
    box-sizing: border-box;
    color: #fff;
    backface-visibility: hidden;
}
* ::-webkit-scrollbar {
    width: 10px;
}
* ::-webkit-scrollbar-track {
    opacity: 0;
}
* ::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, .333);
}
@keyframes fadeInUp {
    from {
        transform: translate3d(0, 75%, 0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}
.fullscreen {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}
#cemu-ui {
    background: #ededed;
}
#navigation {
    z-index: 8;
    transition: 1s;
    background: #1d1d1d;
}
#navigation.top {
    height: 20vh;
    background: transparent;
}
h1 {
    font-size: 8.33vh;
    font-weight: 300;
    line-height: 8.33vh;
    position: absolute;
    top: 7vh;
    left: 4vw;
    width: 92vw;
    margin: 0;
    padding: 0;
    transition: 1s;
    transform: translateY(28vh);
    text-align: center;
}
h1 span {
    font-size: 2vh;
    font-weight: 400;
    vertical-align: middle;
}
.top h1 {
    font-size: 7vh;
    font-weight: 300;
    line-height: 7vh;
    width: 16vw;
    transform: translateY(0);
}
#navigation a {
    font-size: 3vh;
    position: absolute;
    top: 55.55vh;
    display: block;
    width: 15.625vw;
    padding: 1.4vh 1.55vw;
    cursor: pointer;
    transition: 1s;
    text-align: center;
    text-decoration: none;
    border-radius: .75vw;
}
#navigation #directory {
    left: 33vw;
    background: #00acd2;
}
#navigation #settings {
    right: 33vw;
    background: rgba(255, 255, 255, .075);
}
#settings img {
    width: 3vh;
    max-width: 1.7vw;
    height: 3vh;
    margin-right: .4vw;
    vertical-align: -.5vh;
}
#navigation.top #directory {
    top: 7vh;
    left: 75.39vw;
    width: 11.1vw;
    padding: 0;
    opacity: 0;
    background: transparent;
}
#navigation.top #settings {
    top: 7vh;
    right: 3.9vw;
    width: 9vw;
    padding: 0;
    background: transparent;
}
#game-info {
    position: absolute;
    top: 27.75vh;
    right: 3.9vw;
    width: 15.625vw;
    height: 65.25vh;
}
#game-icon {
    width: 10vw;
    height: 10vw;
    background: url('../img/icon/Hyrule Warriors.png') no-repeat center/contain;
}
h2 {
    font-size: 2.77vh;
    height: 7.64vh;
    margin: 2.77vh 0;
}
#game-info span {
    font-size: 1.8vh;
    font-weight: 400;
    display: block;
    margin: 0 0 .7vh;
}
#games-container {
    position: absolute;
    top: 27.77vh;
    left: 3.9vw;
    overflow-y: scroll;
    width: 72.66vw;
    height: 65.25vh;
}
#games {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}
#games .game td {
    font-size: 2.5vh;
    padding: 1.4vh 1.17vw;
    transition: .4s;
    vertical-align: middle;
    border-top: .139vh solid rgba(255, 255, 255, .15);
}
.game .icon {
    width: 10%;
}
.game .name {
    width: 45%;
}
.game .flag, .game .lastplayed, .game.status .game.compat {
    width: 20%;
}
.game:hover td, .game.selected td {
    cursor: pointer;
    background: rgba(255, 255, 255, .1);
}
.game .icon img {
    width: 6.94vh;
    height: 6.94vh;
}
.game .flag img {
    width: 5.55vh;
    height: 5.55vh;
    margin: 0 .78vw 0 0;
    vertical-align: -1.8vh;
}
#launch {
    font-size: 2.5vh;
    display: block;
    width: 15.625vw;
    margin: 5.55vh 0 0;
    padding: 1.39vh 1.56vw;
    cursor: pointer;
    transition: 1s;
    text-align: center;
    text-decoration: none;
    border-radius: .75vw;
    background: #00acd2;
}
#background {
    z-index: 1;
    background: url('../img/background/Hyrule Warriors.jpg') no-repeat center/cover #262626;
    filter: blur(.4vh);
}
#cemu-ui .container {
    z-index: 2;
    background: rgba(30, 30, 30, .45);
}
#background, #game-icon {
    transition: background 100ms ease-in 50ms;
}
#settings-container {
    z-index: 10;
    left: 100vw;
    transition: 1s;
    opacity: 0;
    background: #1d1d1d;
}
#settings-container.center {
    left: 0;
    opacity: 1;
}
h3 {
    font-size: 7vh;
    font-weight: 300;
    line-height: 7vh;
    position: absolute;
    top: 7vh;
    left: 4vw;
    margin: 0;
    padding: 0;
    text-align: center;
}
#settings-container .settings {
    border-radius: .6vw;
    font-size: 2.5vh;
    position: absolute;
    top: 28vh;
    left: 4vw;
    width: 92vw;
    height: 65vh;
    padding: 3vh 5vw;
    display: none;
}

#settings-container .nav {
    position: absolute;
    top: 20vh;
    left: 4vw;
    margin: 0;
    padding: 0;
    list-style: none;
}

#settings-container .nav li {
    display: inline-block;
    margin-right: 2vw;
    font-size: 3vh;
    opacity: 0.667;
}

#settings-container .nav li:hover {
    cursor: pointer;
    opacity: 1;
}

#settings-container .nav li.on {
    font-weight: 400;
    opacity: 1;
}

#settings-container .settings#directories {
    display: block;
}

.plugins > .plugin {
    font-size: 2.5vh;
    width: 100%;
    margin: .5vh 0;
    border: none;
    outline: 0;
    border-radius: .6vw;
    background: rgba(0, 0, 0, .2);
}

.plugins > .plugin span {
    display: inline-block;
    padding: 1vh 1vw;
    vertical-align: middle;
}

.plugin span.name {
    width: 18%;
}
.plugin span.author {
    width: 20%;
}
.plugin span.description {
    width: 55%;
    font-size: 2.25vh;
}
.plugin span.check {
    text-align: center;
    width: 5%;
}
.plugin input {
    float: right;
    width: 2.5vh;
    height: 2.5vh;
    margin: .5vh;
}
.setting {
    width: 100%;
    /* padding: 0 0 8vh; */
}
.setting tr td {
    width: 50%;
}
.setting tr td:first-of-type {
    font-size: 2.75vh;
    font-weight: 400;
}
.setting tr.title td, .plugins .title {
    font-size: 5vh;
    font-weight: 300;
    margin: 0;
    padding: 0 0 5vh;
    background: transparent;
}
.setting td select {
    font-size: 2.5vh;
    width: 100%;
    padding: .75vh .5vw;
    border: none;
    border-radius: .6vw;
    outline: 0;
    background: rgba(0, 0, 0, .2);
}
[data-setting='game-dir'], [data-setting='cemu-dir'] {
    font-size: 2.5vh;
    padding: .75vh .5vw;
    border-radius: .6vw;
    background: rgba(0, 0, 0, .2);
}
.setting td select:hover, [data-setting='game-dir']:hover, [data-setting='cemu-dir']:hover, .plugin:hover {
    cursor: pointer;
    background: #101010;
}
.controller {
    width: 100%;
    height: 43vh;
    background-image: url(../controllers/black-xb1/base.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.controller .stick {
    position: absolute;
    background: url(../controllers/black-xb1/stick.svg);
    background-position: -3.5vw 0;
	background-size: contain;
    background-repeat: no-repeat;
    height: 7vh;
    width: 7vw;
}
.controller .stick.pressed {
    background-position: 0 0;
}
.controller .stick.left {
    top: 40.47vh;
    left: 37.26vw;
}
.controller .stick.right {
    top: 113px;
    left: 288px;
}