* {
    font-family: 'Open Sans';
    font-weight: 300;
    box-sizing: border-box;
    backface-visibility: hidden;
}
* ::-webkit-scrollbar {
    width: 10px;
}
* ::-webkit-scrollbar-track {
    opacity: 0;
}
* ::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, .333);
}
@keyframes fadeInUp {
    from {
        transform: translate3d(0, 75%, 0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}
#cemu-ui {
    position: absolute;;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background: #ededed;
}
#navigation {
    position: absolute;
    z-index: 8;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition: 1s;
    background: #262626;
}
#navigation.top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 20vh;
    background: transparent;
}
h1 {
    font-size: 8.33vh;
    font-weight: 300;
    line-height: 8.33vh;
    position: absolute;
    top: 7vh;
    left: 4vw;
    width: 92vw;
    margin: 0;
    padding: 0;
    transition: 1s;
    transform: translateY(28vh);
    text-align: center;
    color: #fff;
}
h1 span {
    font-size: 2vh;
    font-weight: 400;
    vertical-align: middle;
}
.top h1 {
    font-size: 7vh;
    font-weight: 300;
    line-height: 7vh;
    width: 16vw;
    transform: translateY(0);
}
#navigation a {
    font-size: 3vh;
    position: absolute;
    top: 55.55vh;
    display: block;
    width: 15.625vw;
    padding: 1.4vh 1.55vw;
    cursor: pointer;
    transition: 1s;
    text-align: center;
    text-decoration: none;
    color: #fff;
    border-radius: 0.75vw;
}
#navigation #directory {
    left: 33vw;
    background: #00acd2;
}
#navigation #settings {
    right: 33vw;
    background: #444;
}
#settings img {
    width: 3vh;
    max-width: 1.7vw;
    height: 3vh;
    margin-right: 0.4vw;
    vertical-align: -0.5vh;
}
#navigation.top #directory {
    top: 7vh;
    left: 75.39vw;
    width: 11.1vw;
    padding: 0;
    opacity: 0;
    background: transparent;
}
#navigation.top #settings {
    top: 7vh;
    right: 3.9vw;
    width: 9vw;
    padding: 0;
    background: transparent;
}
#game-info {
    position: absolute;
    top: 27.75vh;
    right: 3.9vw;
    width: 15.625vw;
    height: 65.25vh;
}
#game-icon {
    width: 10vw;
    height: 10vw;
    background: url('../img/icon/Hyrule Warriors.png') no-repeat center/contain;
}
h2 {
    font-size: 2.77vh;
    height: 7.64vh;
    margin: 2.77vh 0;
    color: #fff;
}
#game-info span {
    font-size: 1.8vh;
    font-weight: 400;
    display: block;
    margin: 0 0 0.7vh;
    color: #fff;
}
#games-container {
    position: absolute;
    top: 27.77vh;
    left: 3.9vw;
    overflow-y: scroll;
    width: 72.66vw;
    height: 65.25vh;
}
#games {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}
#games .game td {
    font-size: 2.5vh;
    padding: 1.4vh 1.17vw;
    transition: .4s;
    vertical-align: middle;
    color: #fff;
    border-top: 0.139vh solid rgba(255, 255, 255, .15);
}
.game .icon {
    width: 10%;
}
.game .name {
    width: 45%;
}
.game .flag, .game .lastplayed, .game.status .game.compat {
    width: 20%;
}
.game:hover td, .game.selected td {
    cursor: pointer;
    background: rgba(255, 255, 255, .1);
}
.game .icon img {
    width: 6.94vh;
    height: 6.94vh;
}
.game .flag img {
    width: 5.55vh;
    height: 5.55vh;
    margin: 0 0.78vw 0 0;
    vertical-align: -1.8vh;
}
#launch {
    font-size: 2.5vh;
    display: block;
    width: 15.625vw;
    margin: 5.55vh 0 0;
    padding: 1.39vh 1.56vw;
    cursor: pointer;
    transition: 1s;
    text-align: center;
    text-decoration: none;
    color: #fff;
    border-radius: 0.75vw;
    background: #00acd2;
}
#background {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: url('../img/background/Hyrule Warriors.jpg') no-repeat center/cover #262626;
    filter: blur(0.4vh);
}
#cemu-ui .container {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(30, 30, 30, .45);
}
#background, #game-icon {
    transition: background 100ms ease-in 50ms;
}
#settings-container {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 100vw;
    width: 100vw;
    height: 100vh;
    transition: 1s;
    background: #262626;
    opacity: 0;
}
#settings-container.center {
    left: 0;
    opacity: 1;
}
h3 {
    position: absolute;
    top: 6.94vh;
    left: 3.9vw;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #fff;
    font-size: 6.94vh;
    font-weight: 300;
    line-height: 6.94vh;
}
#settings-container .settings {
    position: absolute;
    top: 25vh;
    left: 3.9vw;
    color: #fff;
    font-size: 2.5vh;
    width: 92.2vw;
}

.setting {
    padding: 0 0 8.33vh;
}

.setting tr td:first-of-type {
    font-size: 2.78vh;
    font-weight: 400;
    width: 23.44vw;
}

.setting tr:first-of-type td {
    font-size: 4.44vh;
    font-weight: 300;
    padding: 0 0 2.78vh;
}

.setting tr:nth-last-of-type(2) td {
    width: 23.44vw;
}

.setting td select {
    width: 100%;
    font-size: 2.5vh;
    color: #fff;
    background: #111;
    border-radius: 0.75vw;
    padding: 0.7vh;
    outline: 0;
    border: none;
}

[data-setting="game-dir"], [data-setting="cemu-dir"] {
    font-size: 2.5vh;
    color: #fff;
    background: #111;
    border-radius: 0.75vw;
    padding: 0.7vh;
}
