* {
    font-family: 'Open Sans';
    font-weight: 300;
    box-sizing: border-box;
    backface-visibility: hidden;
}
* ::-webkit-scrollbar {
    width: 10px;
}
* ::-webkit-scrollbar-track {
    opacity: 0;
}
* ::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, .333);
}
@keyframes fadeInUp {
    from {
        transform: translate3d(0, 75%, 0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}
#cemu-ui {
    position: relative;
    top: calc(50vh - 360px);
    left: calc(50vw - 640px);
    overflow: hidden;
    width: 1280px;
    height: 720px;
    background: #ededed;
}
#navigation {
    position: absolute;
    z-index: 8;
    top: 0;
    left: 0;
    width: 1280px;
    height: 720px;
    transition: 1s;
    background: #262626;
}
#navigation.top {
    position: absolute;
    top: 0;
    left: 0;
    width: 1280px;
    height: 150px;
    background: transparent;
}
h1 {
    font-size: 60px;
    font-weight: 300;
    line-height: 60px;
    position: absolute;
    top: 50px;
    left: 50px;
    width: calc(1280px - 100px);
    margin: 0;
    padding: 0;
    transition: 1s;
    transform: translateY(200px);
    text-align: center;
    color: #fff;
}
h1 span {
    font-size: 14px;
    font-weight: 400;
    vertical-align: middle;
}
.top h1 {
    font-size: 50px;
    font-weight: 300;
    line-height: 50px;
    width: 196px;
    transform: translateY(0);
}
#navigation a {
    font-size: 20px;
    position: absolute;
    top: 400px;
    display: block;
    width: 200px;
    padding: 10px 20px;
    cursor: pointer;
    transition: 1s;
    text-align: center;
    text-decoration: none;
    color: #fff;
    border-radius: 8px;
}
#navigation #directory {
    left: 420px;
    background: #00acd2;
}
#navigation #settings {
    right: 420px;
    background: #444;
}
#settings img {
    width: 22px;
    height: 22px;
    margin-right: 5px;
    vertical-align: -5px;
}
#navigation.top #directory {
    top: 50px;
    left: 965px;
    width: 142px;
    padding: 0;
    opacity: 0;
    background: transparent;
}
#navigation.top #settings {
    top: 50px;
    right: 50px;
    width: 104px;
    padding: 0;
    background: transparent;
}
#game-info {
    position: absolute;
    top: 200px;
    right: 50px;
    width: 200px;
    height: 470px;
}
#game-icon {
    width: 128px;
    height: 128px;
    background: url('../img/icon/Hyrule Warriors.png') no-repeat center/contain;
}
h2 {
    font-size: 20px;
    height: 55px;
    margin: 20px 0;
    color: #fff;
}
#game-info span {
    font-size: 13px;
    font-weight: 400;
    display: block;
    margin: 0 0 5px;
    color: #fff;
}
#games-container {
    position: absolute;
    top: 200px;
    left: 50px;
    overflow-y: scroll;
    width: calc(1280px - 350px);
    height: 470px;
}
#games {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}
#games .game td {
    font-size: 18px;
    padding: 10px 15px;
    transition: .4s;
    vertical-align: middle;
    color: #fff;
    border-top: 1px solid rgba(255, 255, 255, .15);
}
.game .icon {
    width: 10%;
}
.game .name {
    width: 50%;
}
.game .flag, .game .lastplayed, .game.status {
    width: 20%;
}
.game:hover td, .game.selected td {
    cursor: pointer;
    background: rgba(255, 255, 255, .1);
}
.game .icon img {
    width: 50px;
    height: 50px;
}
.game .flag img {
    width: 40px;
    height: 40px;
    margin: 0 10px 0 0;
    vertical-align: -13px;
}
#launch {
    font-size: 18px;
    display: block;
    width: 200px;
    margin: 40px 0 0;
    padding: 10px 20px;
    cursor: pointer;
    transition: 1s;
    text-align: center;
    text-decoration: none;
    color: #fff;
    border-radius: 8px;
    background: #00acd2;
}
#background {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 1280px;
    height: 720px;
    background: url('../img/background/Hyrule Warriors.jpg') no-repeat center/cover #262626;
    filter: blur(3px);
}
#cemu-ui .container {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 1280px;
    height: 720px;
    background: rgba(30, 30, 30, .45);
}
#background, #game-icon {
    transition: background 100ms ease-in 50ms;
}
#settings-container {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 1280px;
    width: 1280px;
    height: 720px;
    transition: 1s;
    background: #262626;
    transition: 1s;
    opacity: 0;
}
#settings-container.center {
    left: 0;
    opacity: 1;
}
h3 {
    position: absolute;
    top: 50px;
    left: 50px;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #fff;
    font-size: 50px;
    font-weight: 300;
    line-height: 50px;
}
#settings-container .settings {
    position: absolute;
    top: 180px;
    left: 50px;
    color: #fff;
    font-size: 18px;
    width: 1180px;
}

.setting {
    padding: 0 0 60px;
}

.setting tr td:first-of-type {
    font-size: 20px;
    font-weight: 400;
    width: 300px;
}

.setting tr:first-of-type td {
    font-size: 32px;
    font-weight: 300;
    padding: 0 0 20px;
}
