html,
body {
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.logo {
  margin-bottom: 1em;
}

.logo-left,
.logo-right {
  display: inline-block;
  position: relative;
}

@keyframes logo-anim-left {
  from { top: 0; }
  26% { top: 0; }
  29% { top: 7px; }
  40% { top: 0; }
}

@keyframes logo-anim-right {
  from { top: -45px; }
  25% { top: -50px; }
  30% { top: 7px; }
  40% { top: 0px; }
}

.logo-left {
  animation-duration: 2s;
  animation-name: logo-anim-left;
  animation-iteration-count: 1;
}

.logo-right {
  animation-duration: 2s;
  animation-name: logo-anim-right;
  animation-iteration-count: 1;
}