@font-face {
    font-family: "Switch";
    src: url("switch.woff2");
}

* {
    font-family: "Switch";
    backface-visibility: hidden;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}
.loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #E30B20;
}
.logo {
    margin-bottom: 1em;
}
.logo-left, .logo-right {
    display: inline-block;
    position: relative;
}
@keyframes logo-anim-left {
    from {
        top: 0;
        transform: scale(1) translate(0);
    }
    26% {
        top: 0;
    }
    29% {
        top: 7px;
    }
    40% {
        top: 0;
    }
    65% {
        opacity: 1;
        transform: scale(1) translate(0);
    }
    100% {
        transform: scale(1.5) translate(-100%);
        opacity: 0;
    }
}
@keyframes logo-anim-right {
    from {
        top: -45px;
        transform: scale(1) translate(0);
    }
    25% {
        top: -50px;
    }
    30% {
        top: 7px;
    }
    40% {
        top: 0;
    }
    65% {
        opacity: 1;
        transform: scale(1) translate(0);
    }
    100% {
        transform: scale(1.5) translate(100%);
        opacity: 0;
    }
}
@keyframes logo-nintendo {
    from {
        opacity: 1;
        transform: scale(1) translate(0);
    }
    65% {
        opacity: 1;
        transform: scale(1) translate(0);
    }
    100% {
        opacity: 0;
        transform: scale(1.5) translateY(100%);
    }
}
.logo-left {
    animation-duration: 2s;
    animation-name: logo-anim-left;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}
.logo-right {
    animation-duration: 2s;
    animation-name: logo-anim-right;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}
.nintendo-switch {
    animation-duration: 2s;
    animation-name: logo-nintendo;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}
