@font-face {
    font-family: "Switch";
    src: url("switch.woff2");
}

* {
    font-family: "Switch";
    font-weight: normal;
    backface-visibility: hidden;
    box-sizing: border-box;
    color: #212121;
    user-select: none;
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    background: #000;
    letter-spacing: 1px;
}
.loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #E30B20;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
.logo {
    margin-bottom: 1em;
}
.logo-left, .logo-right {
    display: inline-block;
    position: relative;
}
@keyframes logo-anim-left {
    from {
        top: 0;
        transform: scale(1) translate(0);
    }
    26% {
        top: 0;
    }
    29% {
        top: 7px;
    }
    40% {
        top: 0;
    }
    65% {
        opacity: 1;
        transform: scale(1) translate(0);
    }
    100% {
        transform: scale(1.5) translate(-100%);
        opacity: 0;
    }
}
@keyframes logo-anim-right {
    from {
        top: -45px;
        transform: scale(1) translate(0);
    }
    25% {
        top: -50px;
    }
    30% {
        top: 7px;
    }
    40% {
        top: 0;
    }
    65% {
        opacity: 1;
        transform: scale(1) translate(0);
    }
    100% {
        transform: scale(1.5) translate(100%);
        opacity: 0;
    }
}
@keyframes logo-nintendo {
    from {
        opacity: 1;
        transform: scale(1) translate(0);
    }
    65% {
        opacity: 1;
        transform: scale(1) translate(0);
    }
    100% {
        opacity: 0;
        transform: scale(1.5) translateY(100%);
    }
}
.logo-left {
	animation-delay: 1s;
    animation-duration: 2s;
    animation-name: logo-anim-left;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}
.logo-right {
	animation-delay: 1s;
    animation-duration: 2s;
    animation-name: logo-anim-right;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}
.nintendo-switch {
	animation-delay: 1s;
    animation-duration: 2s;
    animation-name: logo-nintendo;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

.cemu-ui {
    width: 1280px;
    height: 720px;
    overflow: hidden;
    background-color: #ebebec;
    position: relative;
}

.title {
    color: #1deae1;
    font-size: 28px;
}

.navigation {
    position: absolute;
    top: 32px;
    height: 50px;
    left: 48px;
    width: calc(100% - 96px);
}

.navigation > div {
    background-size: 32px;
    background-position: center;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    margin: 0 4px;
}

.navigation > div:nth-of-type(2) {
    margin-left: 16px;
}

.navigation > .chat {
    background-image: url(img/chat.svg);
}

.navigation > .friends {
    background-image: url(img/friends.svg);
}

.navigation > .headset {
    background-image: url(img/headset.svg);
}

.navigation > .profile {
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position: center;
    background-image: url('../../ui/img/icon/Captain Toad Treasure Tracker.png');
    border-radius: 100%;
    margin: 0;
}

.navigation > .clock {
    width: auto;
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 25px;
    letter-spacing: 2px;
}

.navigation > .clock > span {
    font-family: "Switch";
    font-size: 14px;
    vertical-align: baseline;
    letter-spacing: 4px;
}

.games-container {
    position: absolute;
    top: 128px;
    left: 48px;
    width: calc(100% - 96px);
    height: 320px;
}

.games {
    width: 100%;
    margin: 16px 0 0 48px;
}

.game {
    width: 250px;
    height: 250px;
    display: inline-block;
    margin: 0 8px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 4px;
    border: 2px solid #e2e2e2;
}

.game.selected {
    border: 3px solid #1deae1;
    transform: scale(1.1);
}

.circle-nav {
    position: absolute;
    top: 500px;
    text-align: center;
    width: 100%;
    height: 85px;
}

.circle {
    width: 85px;
    height: 85px;
    border-radius: 100%;
    border: 1.5px solid #e2e2e2;
    background-color: #fff;
    display: inline-block;
    margin: 0 10px;
}

.bottom {
    border-top: 4px solid #a7a7a7;
    position: absolute;
    left: 12px;
    height: 75px;
    width: calc(100% - 24px);
    bottom: 8px;
}

.right {
    float: right;
}
.left {
    float: left;
}

.bottom > div {
    font-size: 22px;
    line-height: 70px;
    margin-right: 40px;
    padding-left: 40px;
    background-size: 28px 28px;
    background-position: center left;
    background-repeat: no-repeat;
}

.bottom .logo {
    background: none;
    font-size: 28px;
}

.bottom .logo > span {
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 15px;
    vertical-align: middle;
}

.bottom > .start {
    background-image: url(img/A.svg);
}

.bottom > .options {
    background-image: url(img/Menu.svg);
}

#settings-container {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: #ebebec;
}

#settings-container.center {
    display: block;
}

#settings-container h3 {
    border-bottom: 4px solid #a7a7a7;
    position: absolute;
    left: 12px;
    height: 75px;
    width: calc(100% - 24px);
    top: 8px;
    padding-left: 40px;
    font-size: 28px;
    margin: 0;
    display: flex;
    background-color: #ebebec;
    align-items: center;
}

ul.nav {
    position: absolute;
    left: 0;
    top: 83px;
    background: linear-gradient(to right, rgba(235,235,236,1) 0%,rgba(240,240,240,1) 25%,rgba(240,240,240,1) 25%);
    height: calc(100% - 166px);
    width: 400px;
    margin: 0;
    list-style: none;
}

.nav li {
    font-size: 21px;
    padding: 24px 72px;
}

.settings {
    position: absolute;
    top: 83px;
    left: 400px;
    padding: 60px;
    height: calc(100% - 166px);
    display: none;
}

#settings-container .settings#directories {
    display: block;
}
